html,body {
    overflow-x: hidden;
}

/* keranjang kanan */

.cart-right {
    position: absolute;
}

.fix-cart {
    position: fixed;
    top: 150px;
}

/* style sweet alert */

.nama_barang_swal {
    font-size: 15pt;
}
#minus_barang:hover, #plus_barang:hover {
    background-color: #d6d6d6;
}
#minus_barang:active, #plus_barang:active {
    background-color: #b1b1b1;
}

/* check invoice */

@media (max-width: 767px) {
    #text1 {
        font-size: 25pt;
    }
    #text2 {
        font-size: 13pt;
    }
    #text3 {
        font-size: 10pt;
    }
    #text4 {
        font-size: 20pt;
    }
}